.swagger-ui img {
    content: url("/images/deakin-logo.png");
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #EF1C25;
}

.swagger-ui .info .title small:last-child {
    background-color: #EF1C25 !important;
}